@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  line-height: 1.2;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

table {
}
th,
td {
  @apply py-3 px-2.5 text-sm text-left border-y border-gray-200;
}
thead {
  @apply bg-neutral-100;
}
th {
  @apply font-semibold;
}

.bg-gray-800 {
  background-color: rgba(0, 0, 0, 0.75);
}
